<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    주소: 성북구~~ <br>
    이름: 조영석   <br>
    이메일:dudtjr309@hansung.ac.kr <br>
    
</body>
</html>