<!DOCTYPE html>
 <html lang='ko'>
 <head>
 <meta charset='UTF-8'>
 <title>데이터 입력 화면</title>
    <style>
        table {
            border: 1px solid lightgreen;
            text-align: center;
            border-collapse: collapse;
        }
        th {
            height: 30px;
            background-color: lightgreen;
            border: 1px solid lightgreen;
        }
        td {
            text-align: center;
            height: 30px;
            padding: 5px 50px 5px 30px;
        }
    </style>
 </head>

 <body>
    <form action="/inputPost" method="post">
    <table>
        <tr>
            <th>데이터 입력</th>
        </tr>
        <tr>
            <td>제목 : <input type="text" name="head" placeholder="제목을 입력하세요."> </td>
        </tr>
        <tr>
            <td>내용 : <textarea name="body" cols="20" rows="10" maxlength="100" placeholder="내용을 입력하세요."></textarea></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="저장">
                &nbsp;&nbsp;&nbsp;
                <input type="reset" value="취소">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>