<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset='UTF-8'>
<title>ejs 템플릿 엔진 실습</title>
    <style>
        table, th, td {
            border: 1px solid lightgray;
            text-align: center;
            border-collapse: collapse;
            padding: 5px;
        }
        th {
            background-color: lightgreen;
        }
        table {
            width: 500px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <th>제목</th>
            <th>내용</th>
            <th>수정</th>
            <th>삭제</th>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
            <tr>
                <td style="width: 6em;"><%= item.head %></td>
                <td style="width: 10em;"><%= item.body %></td>
                
                <form action="/delete?_method=DELETE" method="post">
                    <input type="hidden" name="postId" value="<%= item.post_id %>">
                    <td><input type="submit" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?')"></td>
                </form>
                <td><input type="button" value="수정" onclick="location.href='/edit/<%=item.post_id%>'"></td>
            </tr>
            <% }) %>


        </tbody>
    </table>
</body>
</html>
 